// BEGIN FOOTER
.pull-bottom.sm-pull-bottom.full-width.relative
  .error-container
    .error-container-innner
      .m-b-30.sm-m-t-20.sm-p-r-15.sm-p-b-20.clearfix
        .col-sm-3.no-padding
          img.m-t-5(alt='' data-src='/assets/images/pages_icon.png' data-src-retina='/assets/images/pages_icon_2x.png' height='60' src='/assets/images/pages_icon.png' width='60')
        .col-sm-9.no-padding
          p
            small
              | Create a pages account. If you have a facebook account, log into it for this process.
              | Sign in with
              a(href='#') Facebook
              |  or
              a(href='#') Google
// END FOOTER
