// BEGIN CONTENT SECTION
section.p-b-85.p-t-75.p-b-65.p-t-55
  .container
    .md-p-l-20.xs-no-padding.clearfix
      .col-sm-4.no-padding
        .p-r-40.md-pr-30
          img.m-b-20(alt='' src='assets/images/Parachute.svg')
          h6.block-title.p-b-5
            | Launch Design
            i.pg-arrow_right.m-l-10
          p.m-b-30
            | Awesome notepad app. It gives you a quick and simple notepad editing experience when you write notes.
          p.muted.font-arial.small-text.col-sm-9.no-padding Icon Fonts, Vector SVG&apos;s, pages 14x14px vector icons.
        .visible-xs.b-b.b-grey-light.m-t-30.m-b-30
      .col-sm-4.no-padding
        .p-r-40.md-pr-30
          img.m-b-20(alt='' src='assets/images/Prizemedalion.svg')
          h6.block-title.p-b-5
            | Award Wining
            i.pg-arrow_right.m-l-10
          p.m-b-30
            | Quick chat helps you to Keep in touch with your friends and colleagues while working. It has a unique responsive design.
          p.muted.font-arial.small-text.col-sm-9.no-padding Limitless possibilities, Highly customizable, Great UI &amp; UX
        .visible-xs.b-b.b-grey-light.m-t-30.m-b-30
      .col-sm-4.no-padding
        .p-r-40.md-pr-30
          img.m-b-20(alt='' src='assets/images/Umbrella.svg')
          h6.block-title.p-b-5
            | Shop ready
            i.pg-arrow_right.m-l-10
          p.m-b-30
            | This is a very young collection of charts, with the goal of keeping these components very customizable.
          p.muted.font-arial.small-text.col-sm-9.no-padding Highly customizable NVD3, rickshaw, Spark Lines, D3.
// END CONTENT SECTION