// BEGIN CONTENT SECTION
section.p-b-85.p-t-75.p-b-65.p-t-55
  .container
    .md-p-l-20.xs-no-padding.clearfix
      .col-sm-4.no-padding
        .p-r-40.md-pr-30
          img.m-b-20(alt='' src='{{ site.data.content.col-1.icon | relative_url }}')
          h6.block-title.p-b-5
            | {{ site.data.content.col-1.title }}
            i.pg-arrow_right.m-l-10
          p.m-b-30
            | {{ site.data.content.col-1.main-text }}
          p.muted.font-arial.small-text.col-sm-9.no-padding {{ site.data.content.col-1.sub-text }}
        .visible-xs.b-b.b-grey-light.m-t-30.m-b-30
      .col-sm-4.no-padding
        .p-r-40.md-pr-30
          img.m-b-20(alt='' src='{{ site.data.content.col-2.icon | relative_url }}')
          h6.block-title.p-b-5
            | {{ site.data.content.col-2.title }}
            i.pg-arrow_right.m-l-10
          p.m-b-30
            | {{ site.data.content.col-2.main-text }}
          p.muted.font-arial.small-text.col-sm-9.no-padding {{ site.data.content.col-2.sub-text }}
        .visible-xs.b-b.b-grey-light.m-t-30.m-b-30
      .col-sm-4.no-padding
        .p-r-40.md-pr-30
          img.m-b-20(alt='' src='{{ site.data.content.col-3.icon | relative_url }}')
          h6.block-title.p-b-5
            | {{ site.data.content.col-3.title }}
            i.pg-arrow_right.m-l-10
          p.m-b-30
            | {{ site.data.content.col-3.main-text }}
          p.muted.font-arial.small-text.col-sm-9.no-padding {{ site.data.content.col-3.sub-text }}
// END CONTENT SECTION