// START FOOTER
section.p-b-70.p-t-55
  .container
    .row
      .col-md-7
        img(alt='' src='{{ site.data.footer.image | relative_url }}')
      .col-md-5
        ul.no-style.fs-12.no-padding.pull-right.xs-pull-left.xs-m-t-20
          |{% for item in site.data.footer.icon-links %}
          li.inline.no-padding
            |{% if forloop.first %}
            a(class='text-black p-l-30 fs-16 xs-no-padding' href='{{ item.url }}')
              i(class='fa {{ item.icon }}')
            |{% else %}
            a(class='text-black p-l-30 fs-16' href='{{ item.url }}')
              i(class='fa {{ item.icon }}')
            |{% endif %}
          |{% endfor %}

    .row.m-t-30
      .col-sm-3.col-xs-12.xs-m-b-20
        p.fs-14
          | 23/4 ways Street. Station 322
          br
          |  Ottawa Ontario K1AOB1
          br
          |  Canada.
      .col-sm-3.col-xs-6.xs-m-b-20
        ul.no-style.no-padding
          |{% for item in site.data.footer.left-links %}
          li.m-b-5.no-padding
            a.link.text-black(href='{{ item.url }}') {{ item.name }}
          |{% endfor %}
      .col-sm-3.col-xs-6.xs-m-b-20
        ul.no-style.no-padding
          |{% for item in site.data.footer.right-links %}
          li.m-b-5.no-padding
            a.link.text-black(href='{{ item.url }}') {{ item.name }}
          |{% endfor %}
section.p-t-10.p-b-10.bg-master-darkest
  .container
    .row
      .col-sm-7
        p.fs-11.no-margin.font-arial.text-white.small-text
          span.hint-text Exclusive only at
          |  Envato Marketplace,Themeforest&nbsp;
          span.hint-text See
          |  Standard licenses &amp; Extended licenses
      .col-sm-5.text-right
        p.fs-11.no-margin.font-arial.text-white.small-text
          | Copyright &copy; 2014 REVOX. All Rights Reserved.
// END FOOTER