// BEGIN JUMBOTRON
section.jumbotron.full-vh(data-pages='parallax')
  .inner.full-height
    // BEGIN SLIDER
    #hero.swiper-container
      .swiper-wrapper
        // BEGIN SLIDE
        .swiper-slide.fit
          // BEGIN IMAGE PARRALAX
          .slider-wrapper
            .background-wrapper(data-swiper-parallax='30%')
              // YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes
              .background(data-pages-bg-image='assets/images/hero_1.jpg')
          // END IMAGE PARRALAX
          // BEGIN CONTENT
          .content-layer
            .inner.full-height
              .container-xs-height.full-height
                .col-xs-height.col-middle.text-left
                  .container
                    .col-md-6.no-padding.col-xs-10.col-xs-offset-1
                      h1.light.sm-text-center(data-swiper-parallax='-15%')  Create your own front-end with endless possibilities.
                      h4.sm-text-center Save time, save money, look more professional and win more clients.
                      h5.block-title.text-white.sm-text-center Behind the scenes watch tour
                      p.fs-12.font-arial.hint-text.sm-text-center Available at themeforest, envato market place.
          // END CONTENT
        // END SLIDE
        // BEGIN SLIDE
        .swiper-slide.fit
          // BEGIN IMAGE PARRALAX
          .slider-wrapper
            .background-wrapper(data-swiper-parallax='30%')
              // YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes
              .background(data-pages-bg-image='assets/images/hero_2.jpeg' draggable='false')
          // END IMAGE PARRALAX
          // BEGIN CONTENT
          .content-layer
            .inner.full-height
              .container-xs-height.full-height
                .col-xs-height.col-middle.text-left
                  .container
                    .col-md-6.no-padding.col-xs-10.col-xs-offset-1
                      h1.light.sm-text-center(data-swiper-parallax='-15%')  Twenty &amp; Counting... Unique Website Templates
                      h4.sm-text-center Save time, save money, look more professional and win more clients.
                      h5.block-title.text-white.sm-text-center Behind the scenes watch tour
                      p.fs-12.font-arial.hint-text.sm-text-center Available at themeforest, envato market place.
          // END CONTENT
        // END SLIDE
        // BEGIN SLIDE
        .swiper-slide.fit
          // BEGIN IMAGE PARRALAX
          .slider-wrapper
            .background-wrapper(data-swiper-parallax='30%')
              .background(data-pages-bg-image='assets/images/hero_5.jpeg' draggable='false')
          // END IMAGE PARRALAX
          // BEGIN CONTENT
          .content-layer
            .inner.full-height
              .container-xs-height.full-height
                .col-xs-height.col-middle.text-left
                  .container
                    .col-sm-6.col-sm-offset-3.text-center
                      h1.light(data-swiper-parallax='-15%')
                        | Simplicity beats confusion
                      p.fs-12.font-arial.hint-text Available at themeforest, envato market place.
          // END CONTENT
        // END SLIDE
      // BEGIN ANIMATED MOUSE
      .mouse-wrapper
        .mouse
          .mouse-scroll
      // Add Navigation
      .swiper-navigation.swiper-dark-solid.swiper-button-prev.auto-reveal
      .swiper-navigation.swiper-dark-solid.swiper-button-next.auto-reveal
  // END SLIDER
// END JUMBOTRON