
<!-- START FOOTER-->
<section class="p-b-70 p-t-55">
  <div class="container">
    <div class="row">
      <div class="col-md-7"><img alt="" src="assets/images/logo_black.png"/></div>
      <div class="col-md-5">
        <ul class="no-style fs-12 no-padding pull-right xs-pull-left xs-m-t-20">
          <li class="inline no-padding"><a class="text-black p-l-30 fs-16 xs-no-padding" href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="inline no-padding"><a class="text-black p-l-30 fs-16" href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="inline no-padding"><a class="text-black p-l-30 fs-16" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li class="inline no-padding"><a class="text-black p-l-30 fs-16" href="#"><i class="fa fa-rss"></i></a></li>
          <li class="inline no-padding"><a class="text-black p-l-30 fs-16" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row m-t-30">
      <div class="col-sm-3 col-xs-12 xs-m-b-20">
        <p class="fs-14">23/4 ways Street. Station 322<br/> Ottawa Ontario K1AOB1<br/> Canada.</p>
      </div>
      <div class="col-sm-3 col-xs-6 xs-m-b-20">
        <ul class="no-style no-padding">
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Pages Blogs</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Go Pro</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Community Meetups</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Become and Affiliate</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Forums</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Help and Support</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">News feed</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-6 xs-m-b-20">
        <ul class="no-style no-padding">
          <li class="m-b-5 no-padding"><a class="link text-black" href="#"> Help Center</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Pages License Details</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Contact us</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Meet the team</a></li>
          <li class="m-b-5 no-padding"><a class="link text-black" href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="p-t-10 p-b-10 bg-master-darkest">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <p class="fs-11 no-margin font-arial text-white small-text"><span class="hint-text">Exclusive only at</span> Envato Marketplace,Themeforest<span class="hint-text">See</span> Standard licenses &amp; Extended licenses</p>
      </div>
      <div class="col-sm-5 text-right">
        <p class="fs-11 no-margin font-arial text-white small-text">Copyright &copy; 2014 REVOX. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</section>
<!-- END FOOTER-->