
<!-- BEGIN JUMBOTRON-->
<section class="jumbotron full-vh" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER-->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">
        <!-- BEGIN SLIDE-->
        <div class="swiper-slide fit">
          <!-- BEGIN IMAGE PARRALAX-->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="30%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes-->
              <div class="background" data-pages-bg-image="assets/images/hero_1.jpg"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX-->
          <!-- BEGIN CONTENT-->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="col-md-6 no-padding col-xs-10 col-xs-offset-1">
                      <h1 class="light sm-text-center" data-swiper-parallax="-15%"> Create your own front-end with endless possibilities.</h1>
                      <h4 class="sm-text-center">Save time, save money, look more professional and win more clients.</h4>
                      <h5 class="block-title text-white sm-text-center">Behind the scenes watch tour</h5>
                      <p class="fs-12 font-arial hint-text sm-text-center">Available at themeforest, envato market place.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT-->
        </div>
        <!-- END SLIDE-->
        <!-- BEGIN SLIDE-->
        <div class="swiper-slide fit">
          <!-- BEGIN IMAGE PARRALAX-->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="30%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes-->
              <div class="background" data-pages-bg-image="assets/images/hero_2.jpeg" draggable="false"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX-->
          <!-- BEGIN CONTENT-->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="col-md-6 no-padding col-xs-10 col-xs-offset-1">
                      <h1 class="light sm-text-center" data-swiper-parallax="-15%"> Twenty &amp; Counting... Unique Website Templates</h1>
                      <h4 class="sm-text-center">Save time, save money, look more professional and win more clients.</h4>
                      <h5 class="block-title text-white sm-text-center">Behind the scenes watch tour</h5>
                      <p class="fs-12 font-arial hint-text sm-text-center">Available at themeforest, envato market place.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT-->
        </div>
        <!-- END SLIDE-->
        <!-- BEGIN SLIDE-->
        <div class="swiper-slide fit">
          <!-- BEGIN IMAGE PARRALAX-->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="30%">
              <div class="background" data-pages-bg-image="assets/images/hero_5.jpeg" draggable="false"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX-->
          <!-- BEGIN CONTENT-->
          <div class="content-layer">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                      <h1 class="light" data-swiper-parallax="-15%">Simplicity beats confusion</h1>
                      <p class="fs-12 font-arial hint-text">Available at themeforest, envato market place.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT-->
        </div>
        <!-- END SLIDE-->
      </div>
      <!-- BEGIN ANIMATED MOUSE-->
      <div class="mouse-wrapper">
        <div class="mouse">
          <div class="mouse-scroll"></div>
        </div>
      </div>
      <!-- Add Navigation-->
      <div class="swiper-navigation swiper-dark-solid swiper-button-prev auto-reveal"></div>
      <div class="swiper-navigation swiper-dark-solid swiper-button-next auto-reveal"></div>
    </div>
  </div>
  <!-- END SLIDER-->
</section>
<!-- END JUMBOTRON-->