<!-- BEGIN VENDOR JS -->
<script type="text/javascript" src="{{ "assets/plugins/jquery/jquery-1.11.1.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/swiper/js/swiper.jquery.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/velocity/velocity.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/velocity/velocity.ui.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/jquery-unveil/jquery.unveil.min.js" | relative_url }}"></script>
<!-- END VENDOR JS -->
<!-- BEGIN PAGES FRONTEND LIB -->
<script type="text/javascript" src="{{ "pages/js/pages.frontend.js" | relative_url }}"></script>
<!-- END PAGES LIB -->
<!-- BEGIN YOUR CUSTOM JS -->
<script type="text/javascript" src="{{ "assets/js/custom.js" | relative_url }}"></script>
<!-- END PAGES LIB -->