<!-- BEGIN VENDOR JS -->
<script type="text/javascript" src="{{ "assets/plugins/jquery/jquery-1.11.1.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/swiper/js/swiper.jquery.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/velocity/velocity.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/velocity/velocity.ui.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/jquery-unveil/jquery.unveil.min.js" | relative_url }}"></script>
<!-- END VENDOR JS -->
<!-- BEGIN PAGES FRONTEND LIB -->
<script type="text/javascript" src="{{ "pages/js/pages.frontend.js" | relative_url }}"></script>
<!-- END PAGES LIB -->
<!-- BEGIN YOUR CUSTOM JS -->
<script type="text/javascript" src="{{ "assets/js/custom.js" | relative_url }}"></script>
{% if page.title == 'contact' %}
<script type="text/javascript" src="{{ "assets/js/contact.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/js/google_map.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "assets/plugins/jquery-validation/js/jquery.validate.min.js" | relative_url }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% endif %}

<!-- END PAGES LIB -->